h1, h3 {
    text-align: center;
}

body {
    background-color: #E1AFD1;
}

.btn {
    background-color: purple;
    font-size: 14pt;
}

.colorido {
    background-color: red;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid black;
}

.novocontainer {
    max-width: 450px;
    margin: 0 auto;
}

.item {
    background-color: #FFF7FC;
    text-align: center;
    margin: 5px;
}

.flex {
    display: flex;
}

.menu {
    display: none;
    padding-left: 20px;
    flex-wrap: wrap;
}

.show {
    display: block;
}

#botao-menu {
    cursor: pointer;
}



